/* You can add global styles to this file, and also import other style files */
/* html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
} */

/* html {
    background: linear-gradient(to right, red, yellow);
  }
  
  body {
    background: linear-gradient(to right, red, yellow);
  } */
