#app{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    /* background: linear-gradient(300deg, rgb(27, 29, 82), rgb(59, 88, 82)); */
    background: linear-gradient(to bottom right, black, grey);
    overflow: scroll;
    
}

.title{
    color: white;
    margin-left: 2%;
    margin-top: 2%;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

.buttonArea{
    /* margin-top: 2% !important; */
    text-align: right;
    margin-top: 1%;
    margin-right: 1%;
}

.title2{
    /* background: url(http://apod.nasa.gov/apod/image/0603/coma_misti.jpg) -80px -80px; */
    background: url(http://sfwallpaper.com/images/hd-lightning-wallpapers-9.jpg) -600px -600px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: xx-large;
  margin-left: 2%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* width: 600px; */
  /* margin: 50px auto; */
}

.outline{
    border: 1px solid white;
}

.btn-squared-default{
    /* width: 100px !important;
    height: 100px !important; */
    color: white;
    font-size: 10px;
    }

.btn-squared-default:hover{
    border: 3px solid white;
    font-weight: 400;
}
