<div id="app">
    <div class="row">
      <div class="col-sm">
          <h1 class="title">{{ title }}</h1>
      </div>
      <div class="col-sm buttonArea"> 
        <p>
          <a href="#" class="btn btn-squared-default">
              <i class="fa fa-list-ul fa-4x"></i>
              <br />
              Tasks
          </a>
          <a href="#" class="btn btn-squared-default">
              <i class="fa fa-newspaper-o fa-4x"></i>
              <br />
              News
          </a>
          <a href="#" class="btn btn-squared-default">
              <i class="fa fa-sun-o fa-4x"></i>
              <br />
              Weather
          </a>
          <a href="#" class="btn btn-squared-default">
              <i class="fa fa-money fa-4x"></i>
              <br />
              Finances
          </a>
          <a href="#" class="btn btn-squared-default">
              <i class="fa fa-cogs fa-4x"></i>
              <br />
              Admin
          </a>
        </p>
      </div>
    </div>
<br/>

<div class="row">
    <div class="col-8 outline">col-8
      
    </div>
    <div class="col-4 outline">col-4

    </div>
  </div>

<task-tile></task-tile>
<news-tile></news-tile>
<weather-tile></weather-tile>
<finance-tile></finance-tile>

</div>

